<%- include("header") -%>
    <div class="box" id="heading"><h1><%= whichList %></h1></div>

    <div class="box">
      <% itemList.map((item)=>{ %>
      <div class="item">
        <input type="checkbox">
        <p><%=item%></p></div>
      <% }) %>

      <form action="/" method="post" class="item">
        <input type="text" name="itemList" placeholder="I need to..." autocomplete="off"/>
        <button type="submit" name="list" value=<%= whichList %>><span class="plus">+</span></button>
      </form>
    </div>

<%- include("footer") -%>